* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #ffffff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
}

.logo {
  height: 65px;
  cursor: pointer;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: all 0.3s ease;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 16px;
}

.navbar-menu li {
  color: #36a636;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-menu li:hover {
  color: #1d6829;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.cart-icon img {
  height: 25px;
}

.back-arrow {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 20px;
}

.back-arrow-logo {
  height: 40px; /* Adjust size if necessary */
}

.back-arrow:hover .back-arrow-logo {
  opacity: 0.8;
}

.cart-icon .dot {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #36a636; /* Green color */
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2e8b2e; /* Darker green on hover */
}

/* Mobile Specific Styles */
@media screen and (max-width: 768px) {
  .navbar-toggle {
    display: flex;
  }

  .navbar-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    flex-direction: column;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu li {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
  }

  .navbar-right {
    display: none;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-menu .cart-icon,
  .mobile-menu .sign-in-button {
    margin: 10px 0;
  }
} 